# Tuple - common functionalities

## New empty tuple

In [2]:
my_tuple = ()

In [3]:
print(my_tuple)

()

In [4]:
print(type(my_tuple))

<class 'tuple'>

## One-item tuple

In [10]:
my_tuple = (1,)

In [11]:
print(my_tuple)
print(type(my_tuple))

(1,)
<class 'tuple'>

In [12]:
my_tuple = (1)

In [13]:
print(my_tuple)
print(type(my_tuple))

1
<class 'int'>

## Three-item tuple, can also be declared without brackets

In [14]:
my_tuple = (1, 2, 3)

In [15]:
print(my_tuple)

(1, 2, 3)

In [17]:
print(len(my_tuple))

3

## Creates a tuple out of an iterable

In [21]:
my_tuple = tuple('MYSQL56')

In [22]:
print(my_tuple)
print(len(my_tuple))

('M', 'Y', 'S', 'Q', 'L', '5', '6')
7

In [23]:
my_tuple

('M', 'Y', 'S', 'Q', 'L', '5', '6')

## Index

In [39]:
my_tuple = (1, 2, 3, 'SQL')

In [40]:
print(my_tuple)
print(len(my_tuple))

(1, 2, 3, 'SQL')
4

In [41]:
print(my_tuple[3])

SQL

In [42]:
print(my_tuple[4])

IndexError: tuple index out of range

## Index of index

my_tuple[i][j]

In [45]:
my_tuple = (1, 2, 3, (10, 11))

print(my_tuple)
print(my_tuple[3][0])

In [47]:
my_tuple = (1, 2, 3, 'SQL')

In [48]:
print(my_tuple)
print(my_tuple[3][0])

(1, 2, 3, 'SQL')
S

## Slice of tuple. If last index is not supplied, everything up to the end of the tuple is returned.

In [56]:
my_tuple = (1, 2, 3, (10, 11))
print(my_tuple[1: 3])
print(my_tuple[1: 23])

(2, 3)
(2, 3, (10, 11))

In [57]:
my_tuple = (1, 2, 3, 'SQL')
print(my_tuple[1: 3])
print(my_tuple[1: 23])

(2, 3)
(2, 3, 'SQL')

## Tuple length

len(my_tuple)

In [58]:
my_tuple = (1, 2, 3, 4, 5)
print(len(my_tuple))

5

In [59]:
my_tuple = (1, 2, 3, (10, 11))
print(len(my_tuple))

4

In [60]:
my_tuple = (1, 2, 3, 'SQL')
print(len(my_tuple))

4

## Concatenation

my_tuple1 + my_tuple2

In [62]:
my_tuple1 = (1, 2, 3, 'SQL')
my_tuple2 = (1, 2, 3, (10, 11))
my_tuple = my_tuple1 + my_tuple2

print(my_tuple)

(1, 2, 3, 'SQL', 1, 2, 3, (10, 11))

In [65]:
print(len(my_tuple))

8

## Tuple repeat

my_tuple * 3

In [67]:
my_tuple = (1, 2, 3, 'SQL')
print(my_tuple * 3)

(1, 2, 3, 'SQL', 1, 2, 3, 'SQL', 1, 2, 3, 'SQL')

## Membership check

x in my_tuple

In [68]:
my_tuple = (1, 2, 3, 'SQL')

In [69]:
print(4 in my_tuple)

False

In [70]:
print(1 in my_tuple)

True

In [71]:
print('S' in my_tuple)

False

In [72]:
print('SQL' in my_tuple)

True

In [73]:
print('sQL' in my_tuple)

False

## Iteration

In [74]:
my_tuple = (1, 2, 3, 'SQL')

In [75]:
for i in my_tuple:
    print(i)

1
2
3
SQL