# Set

This type is an unordered collection of unique elements. The set supports a variety of operations that relate to mathematical set theory which find an application in database-related work.

## New empty set

In [2]:
my_set = set()
print(type(my_set))
print(my_set)

<class 'set'>
set()

## New empty set with the set function

In [5]:
my_set = set(['test', 1, .5])
my_set

{0.5, 1, 'test'}

In [6]:
my_set = set([4, 2, 6])
my_set

{2, 4, 6}

In [31]:
my_set = set([1, 1, 2, 3, 5, 5])
my_set

{1, 2, 3, 5}

In [7]:
my_set = set([1, 2, 3])
my_set

{1, 2, 3}

## Add element x to the set a

In [12]:
my_set = set([1, 2, 3])
my_set

{1, 2, 3}

In [13]:
my_set.add(4)
my_set

{1, 2, 3, 4}

## Reset the set a to an empty state, discarding all its elements

In [14]:
my_set = set([1, 2, 3])
my_set

{1, 2, 3}

In [15]:
my_set.clear()
my_set

set()

## Remove element x from the set a. Returns an error if element not present

In [21]:
my_set = set([1, 2, 3, 4, 5, 6])
my_set

{1, 2, 3, 4, 5, 6}

In [22]:
my_set.remove(6)
my_set

{1, 2, 3, 4, 5}

In [23]:
my_set.remove(10)

KeyError: 10

In [24]:
my_set.remove(3)
my_set

{1, 2, 4, 5}

## Removes an arbitrary element from the set a, raising KeyError if the set is empty

In [25]:
my_set = set([1, 2, 3, 4, 5, 6, 7, 8, 9])
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
my_set.pop()

1

In [27]:
my_set

{2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
my_set.pop()

2

In [30]:
my_set

{3, 4, 5, 6, 7, 8, 9}

## All the unique elements in a and b

In [34]:
set_a = set([1, 2, 3, 4])
set_b = set([5, 6, 7, 8])

print(set_a)
print(set_b)

set_a.union(set_b)

{1, 2, 3, 4}
{8, 5, 6, 7}

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
set_a = set([1, 2, 3, 4, 4, 4, 5])
set_b = set([5, 6, 7, 8, 8])

print(set_a)
print(set_b)

set_a.union(set_b)

{1, 2, 3, 4, 5}
{8, 5, 6, 7}

{1, 2, 3, 4, 5, 6, 7, 8}

## Set the contents of a to be the union of the elements in a and b

In [41]:
set_a = set([1, 2, 3, 4])
set_b = set([5, 6, 7, 8])

print(set_a)
print(set_b)

set_a.update(set_b)
set_a

{1, 2, 3, 4}
{8, 5, 6, 7}

{1, 2, 3, 4, 5, 6, 7, 8}

## Sets the contents of a to be the intersection of the elements in a and b

In [40]:
set_a = set([1, 2, 3, 4])
set_b = set([5, 6, 7, 8])

print(set_a)
print(set_b)

set_a.intersection_update(set_b)
set_a

{1, 2, 3, 4}
{8, 5, 6, 7}

set()

In [38]:
set_a = set([1, 2, 3, 4, 4, 4, 5])
set_b = set([5, 6, 7, 8, 8])

print(set_a)
print(set_b)

set_a.intersection_update(set_b)
set_a

{1, 2, 3, 4, 5}
{8, 5, 6, 7}

{5}

## Returns the elements in a that are not in b

In [42]:
set_a = set([1, 2, 3, 4])
set_b = set([5, 6, 7, 8])

print(set_a)
print(set_b)

set_a.difference(set_b)
set_a

{1, 2, 3, 4}
{8, 5, 6, 7}

{1, 2, 3, 4}

In [43]:
set_a = set([1, 2, 3, 4, 4, 4, 5])
set_b = set([5, 6, 7, 8, 8])

print(set_a)
print(set_b)

set_a.difference(set_b)
set_a

{1, 2, 3, 4, 5}
{8, 5, 6, 7}

{1, 2, 3, 4, 5}

## Sets a to the elements in a that are not in b

In [44]:
set_a = set([1, 2, 3, 4])
set_b = set([5, 6, 7, 8])

print(set_a)
print(set_b)

set_a.difference_update(set_b)
set_a

{1, 2, 3, 4}
{8, 5, 6, 7}

{1, 2, 3, 4}

In [45]:
set_a = set([1, 2, 3, 4])
set_b = set([5, 6, 7, 8])

print(set_a)
print(set_b)

set_b.difference_update(set_a)
set_b

{1, 2, 3, 4}
{8, 5, 6, 7}

{5, 6, 7, 8}

In [46]:
set_a = set([1, 2, 3, 4, 4, 4, 5])
set_b = set([5, 6, 7, 8, 8])

print(set_a)
print(set_b)

set_a.difference_update(set_b)
set_a

{1, 2, 3, 4, 5}
{8, 5, 6, 7}

{1, 2, 3, 4}

## All the elements in either a or b but not both

In [47]:
set_a = set([1, 2, 3, 4])
set_b = set([5, 6, 7, 8])

print(set_a)
print(set_b)

set_a.symmetric_difference(set_b)
set_a

{1, 2, 3, 4}
{8, 5, 6, 7}

{1, 2, 3, 4}

## Set a to contain the elements in either a or b but not both

In [48]:
set_a = set([1, 2, 3, 4])
set_b = set([5, 6, 7, 8])

print(set_a)
print(set_b)

set_a.symmetric_difference_update(set_b)
set_a

{1, 2, 3, 4}
{8, 5, 6, 7}

{1, 2, 3, 4, 5, 6, 7, 8}

## True if the elements of a are all contained in b

In [57]:
set_a = set([1, 2, 3, 4])
set_b = set([5, 6, 7, 8])

print(set_a)
print(set_b)

set_a.issubset(set_b)

{1, 2, 3, 4}
{8, 5, 6, 7}

False

In [58]:
set_a = set([1, 2])
set_b = set([1, 2, 3, 4])

print(set_a)
print(set_b)

set_a.issubset(set_b)

{1, 2}
{1, 2, 3, 4}

True

## Returns True if the elements of b are all contained in a

In [59]:
set_a = set([1, 2, 3, 4])
set_b = set([4, 1])

print(set_a)
print(set_b)

set_a.issuperset(set_b)

{1, 2, 3, 4}
{1, 4}

True

In [60]:
set_a = set([1, 2, 3, 4, 4, 4, 5])
set_b = set([5, 6, 7, 8, 8])

print(set_a)
print(set_b)

set_a.issuperset(set_b)

{1, 2, 3, 4, 5}
{8, 5, 6, 7}

False

## Returns True if a and b have no elements in common

In [61]:
set_a = set([1, 2, 3, 4, 4, 4, 5])
set_b = set([5, 6, 7, 8, 8])

print(set_a)
print(set_b)

set_a.isdisjoint(set_b)

{1, 2, 3, 4, 5}
{8, 5, 6, 7}

False

In [62]:
set_a = set([1, 2, 3, 4])
set_b = set([5, 6, 7, 8, 8])

print(set_a)
print(set_b)

set_a.isdisjoint(set_b)

{1, 2, 3, 4}
{8, 5, 6, 7}

True